<div class="row">
  <div class="col-md-9 col-md-offset-1 message">
    <!-- quick links -->
    <nav class="navbar navbar">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#quick-link-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Quick Link</a>
        </div>

        <div class="collapse navbar-collapse" id="quick-link-navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
                <a href="/class_dashboard/classes/">Classes</a>
            </li>
            <li>
                <a href="/student_dashboard/students/">Students</a>
            </li>

            <li>
                <a href="/grade_dashboard/grade/">Grades</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
